.card-title{
    color: black;
    text-align: center;
    margin: 15px;
}

.submit-button{
    border-radius: 10px;
    background-color: #BAA5FF;
    border: none;
    padding: 8px;
    margin: 5px;
    cursor: pointer;
    width: 50%;
    color: white;
}

.submit-button:hover{
    background-color: #A58AFF;
}

a{
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.form-label{
    margin-top: 15px;
}

.form-control{
    border: grey solid 1px;
    border-radius: 10px;
}

.card-body{
    color: black;
    border-radius: 10px;
    border: none;
    box-shadow: none;
}

body{
    font-family: Helvetica, serif;
}

.container{
    width: 90%;
}