/* Set a consistent width for both the navbar and input-form */
.navbar, .input-form {
    width: 100%; /* Ensure both elements have the same width */
    max-width: 900px; /* You can adjust this max-width to your preference */
    margin: 0 auto; /* Center the elements horizontally */
}

/* Input form styling */
.input-form {
    display: flex;
    position: relative;
    align-items: center;
}

.input {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 14px;
    outline: none;
    transition: 0.2s;
}

.input:focus {
    border-color: #000;
}

.input-submit {
    position: absolute;
    width: 25%;
    height: 60%;
    margin: 12px;
    border-radius: 10px;
    right: 0px;
    border: none;
    font-size: 14px;
    background-color: #BAA5FF;
    transition: 0.2s all;
    color: white;
}

.input-submit:hover {
    background-color: #A58AFF;
}

/* Tasks styling */
.tasks {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
}

.cards-form {
    display: flex;
    width: 30%;
    border-radius: 5px;
    padding: 20px;
    margin-top: 15px;
    background-color: #BAA5FF;
}

.task-card {
    flex: 1;
    padding: 5px;
    border: none;
    font-size: 14px;
}

.card-icon {
    margin-left: 10px;
    font-size: 16px;
    cursor: pointer;
}

/* Responsive design */
@media (max-width: 700px) {
    .tasks {
        width: 95%;
    }
    .cards-form {
        width: 100%;
    }
}

/* Logout button styling */
.logout-button {
    background-color: #FF6F61;
}

.logout-button:hover {
    background-color: #FF4C3A;
}
